[submodule "mobile"]
	path = apps/mobile
	url = https://github.com/wignn/nhive-mobile.git

[submodule "desktop"]
	path = apps/desktop
	url = https://github.com/wignn/nhive-desktop.git

[submodule "web"]
	path = apps/web
	url = https://github.com/wignn/nhive-web.git
